@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* styles.css */
body {
    font-family: Lucida, monospace;
    background-color: #f8f6f3; 
    margin: 0;
    padding: 0;
    text-align: center; 
}

h1{
    font-size: 2vw;
}
/* Side controls styling */
.side-controls {
    position: fixed;
    right: 1vw;
    top: 50%; 
    transform: translateY(-50%);
    z-index: 1001; 
}

.side-controls .control {
    display: block;
    margin: 20px 0; 
    background-color: #fa6491;
    color: #f8f6f3;
    padding: 10px;
    text-align: center;
    border: none;
    cursor: pointer;
    border-radius: 50%; 
    width: 4vw; 
    height: 4vw; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw; 
}

/* Content section styling */
.content-section {
    padding: 20px;
    margin-bottom: 2vh; 
    border-bottom: 5px solid #593B1F; 
}

/* IMAGES FOR SECTION HEADERS-------------------------------------------------------------------------*/

.about-container{
    margin-left: 5%;
    margin-right: 5%;

}

.aboutMe-image img {
    display: block; 
    max-width: 30%; 
    height: auto; 
    margin: 1vh auto; 
    border-radius: 15px; 
    margin-bottom: 2vh;
}

.gallery-image img {
    display: block; 
    max-width: 25%; 
    height: auto; 
    margin: 1vh auto; 
    border-radius: 15px; 
    margin-bottom: 2vh;
}

.appointment-image img {
    display: block; 
    max-width: 55%; 
    height: auto; 
    margin: 1vh auto; 
    border-radius: 15px; 
    margin-bottom: 2vh;
}

.contact-image img {
    display: block; 
    max-width: 40%; 
    height: auto; 
    margin: 1vh auto; 
    border-radius: 15px; 
    margin-bottom: 2vh;
}

/*-HOME SECTION---------------------------------------------------------------------------------------*/

.logo img {
    display: block; 
    max-width: 60%; 
    height: auto; 
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    margin-bottom: -5vh; 
}

.name-image img {
    display: block; 
    max-width: 70%; 
    height: auto; 
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px; 
}

.hero-image img {
    display: block; 
    max-width: 60%; 
    height: auto; 
    margin: 1vh auto; 
    border-radius: 4vw; 
}


.welcome-text {
    background-color: #f9bdcf; 
    color: black; 
    border-radius: 2vw; 
    display: inline-block; 
    padding: 20px;
    margin: 5vh auto; 
    max-width: 70%; 
    font-size: 1.75vw;
}

.content-section {
    padding-right: 2vw; 
}

.content-section h1,
.content-section h2 {
    margin-left: auto;
    margin-right: auto;
}

/*-ABOUT-ME SECTION---------------------------------------------------------------------------------------*/

.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px; 
}

.about-item.reverse {
    flex-direction: row-reverse;
}

.about-image, .about-text {
    flex: 1; 
    padding: 10px;
}

.about-image img {
    max-width: 70%; 
    height: auto;
}

.about-text {
    text-align: left; 
}


/*-GALLERY SECTION---------------------------------------------------------------------------------------*/

.carousel {
    position: relative;
    max-width: 600px; 
    margin: auto;
    overflow: hidden;
}

.carousel-images img {
    width: 100%;
    display: none; 
    transition: opacity 0.5s ease-in-out; 
}

.carousel-images img.active {
    display: block; 
    opacity: 1;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.left-control {
    left: 0;
}

.right-control {
    right: 0;
}

/*-APPOINTMENT---------------------------------------------------------------------------------------*/

.wrapper{
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.12);
    margin-top: 3vh;
    margin-bottom: 5vh;
}
.wrapper header{
    display: flex;
    align-items: center;
    padding: 25px 30px 0px; 
    justify-content: space-between;
    margin-left: 5vw;
    margin-right: 5vw;
}
header .icons{
    display: flex;

}
header .icons span {
    height: 3vw;  
    width: 3vw;   
    margin: 0 10px; 
    cursor: pointer;
    color: #878787;
    text-align: center;
    line-height: 3vw; 
    font-size: 2.5rem;
    user-select: none;
    border-radius: 50%;
}
.icons span:last-child{
    margin-right: -10px;
}
header .icons span:hover{
    background: #f2f2f2;
}
header .current-date{
    font-size: 2rem;
    font-weight: 500;
}
.calendar{
    padding: 20px;
    margin-right: 5vh;
    padding-bottom: 5vh;
}
.calendar ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
}
.calendar .days{
    margin-bottom: 20px;
}
.calendar li{
    color: #333;
    width: calc(100% / 7);
    font-size: 1.5rem;
}
.calendar .weeks li{
    font-weight: 500;
    cursor: default;
}
.calendar .days li{
    z-index: 1;
    cursor: pointer;
    position: relative;
    margin-top: 30px;
}
.days li.inactive{
    color: #aaa;
}
.days li.active{
    color: #fff;
}
.days li::before{
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    height: 50px;
    width: 50px;
    z-index: -1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}
.days li.active::before{
    background: #fa6491;
}
.days li:not(.active):hover::before{
    background: #f2f2f2;
}

.availability-instruction {
    text-align: center;
    font-size: 1.6rem;
    color: black; 
}

/*-CONTACT ME---------------------------------------------------------------------------------------*/

/* Contact form styling */
#contact-form {
    max-width: 600px;
    margin: auto;
    padding: 15px;
    text-align: center;
    font-size: larger;
}

#contact-form input, #contact-form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid black;
    box-shadow: 0 0 5px #fa6491;
    border-radius: 5px;
    font-size: larger;

}

#contact-form button {
    margin-right: auto;
    margin-left: auto;
    background-color: #fa6491;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: large;
}

#contact-form button:hover {
    background-color: #e63973;
}

/* Loading Spinner */
.loading-spinner {
    display: none; 
    position: fixed;
    top: 45%;
    left: 45%;
    transform: translate(-50%, -50%);
    border: 16px solid white;
    border-top: 16px solid #fa6491; 
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    z-index: 12;

}

/* Overlay */
.overlay {
    display: none; 
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 11;
}

/* Thank You Popup */
.thank-you-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    color: black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    z-index: 13;
}

.thank-you-popup button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: black;
    font-size: 1.5em;
    cursor: pointer;
}

.availability-popup {
    display: none; 
    position: fixed; 
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 60%; 
    max-width: 600px; 
    z-index: 1002; 
}

.close-popup {
    position: absolute;
    top: 10px;
    right: 15px;
    border: none;
    background: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.availability-text {
    font-size: 1.2rem;
    text-align: center;
    color: black;
}



/* Spinner animation */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}



/* Mobile View */
@media (max-width: 768px) {
    /* Hide sidebar */
    .side-controls {
        display: none;
    }

    h1 {
        font-size: 5vw; /* Adjust as necessary */
    }

    .content-section {
        padding: 10px;
    }

    .aboutMe-image img, .gallery-image img, .appointment-image img, .contact-image img, .logo img, .name-image img, .hero-image img {
        max-width: 100%;
        height: auto;
    }

    .welcome-text {
        font-size: 4vw; 
        padding: 10px;
        max-width: 90%;
    }

    .about-container, .about-item {
        flex-direction: column;
    }

    .wrapper {
        width: 90%;
    }

    #contact-form {
        width: 90%;
        padding: 10px;
    }

    header .icons span {
        height: 5vw;
        width: 5vw;
        font-size: 3.5rem;
    }

    .calendar li {
        font-size: 3vw;
    }

    .availability-instruction {
        font-size: 4vw;
    }
}